@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
.streaming_carousel_card {
  padding: 24px 10px;
}
@media screen and (min-width: 768px) {
  .streaming_carousel_card {
    padding: 24px 24px;
  }
}
.streaming_carousel_card.typeC {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.1);
}
.streaming_carousel_card.typeD {
  padding: 0;
  margin: 0 50px;
}
@media screen and (max-width: 767.9px) {
  .streaming_carousel_card.typeD {
    margin: 0 10px;
  }
}

.streaming_listBoxOuter {
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 767.9px) {
  .streaming_listBoxOuter {
    padding: 16px 8px;
    border-radius: 0px;
  }
}

.streaming_listBox {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}
.streaming_listBox.col-2 .streaming_item {
  width: calc((100% - 24px) / 2);
}
.streaming_listBox.col-3 .streaming_item {
  width: calc((100% - 48px) / 3);
}
.streaming_listBox.col-4 .streaming_item {
  width: calc((100% - 72px) / 4);
}
.streaming_listBox.col-5 .streaming_item {
  width: calc((100% - 96px) / 5);
}
@media screen and (max-width: 1200px) {
  .streaming_listBox.col-5 .streaming_item {
    width: calc((100% - 72px) / 4) !important;
  }
  .streaming_listBox.col-5 .streaming_item:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .streaming_listBox.col-5 .streaming_item {
    width: calc((100% - 48px) / 3) !important;
  }
  .streaming_listBox.col-5 .streaming_item:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .streaming_listBox.col-5 .streaming_item {
    width: 100% !important;
  }
  .streaming_listBox.col-5 .streaming_item:nth-child(5) {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .streaming_listBox.col-4 .streaming_item, .streaming_listBox.col-5 .streaming_item {
    width: calc((100% - 24px) / 2) !important;
  }
}
@media screen and (max-width: 500px) {
  .streaming_listBox.col-4 .streaming_item, .streaming_listBox.col-5 .streaming_item {
    width: 100% !important;
  }
}

.streaming_swiperListBox .streaming_item .streaming_box,
.streaming_listBox .streaming_item .streaming_box {
  border-radius: 16px;
}
.streaming_swiperListBox .streaming_pic,
.streaming_listBox .streaming_pic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 16/9;
  flex-basis: 50%;
}
.streaming_swiperListBox .streaming_content,
.streaming_listBox .streaming_content {
  flex-basis: 50%;
  position: unset;
  padding: 15px 0px;
  transform: scaleX(1) !important;
  opacity: 1 !important;
}
@media screen and (min-width: 1000px) {
  .streaming_swiperListBox .streaming_content,
  .streaming_listBox .streaming_content {
    justify-content: center;
  }
}
.streaming_swiperListBox .streaming_hoverContent,
.streaming_listBox .streaming_hoverContent {
  transition-delay: 0s !important;
}
.streaming_swiperListBox .streaming_stateBox,
.streaming_listBox .streaming_stateBox {
  top: 10px;
  left: 10px;
  padding: 0;
  position: absolute;
}
.streaming_swiperListBox .streaming_title,
.streaming_listBox .streaming_title {
  order: 3;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin-top: 10px;
}
@media screen and (max-width: 767.9px) {
  .streaming_swiperListBox .streaming_channel,
  .streaming_listBox .streaming_channel {
    display: flex;
  }
}
.streaming_swiperListBox .streaming_channel .streaming_avatar,
.streaming_listBox .streaming_channel .streaming_avatar {
  margin: 0 10px 0 0;
}

.tabBar .swiper-wrapper,
.streaming_carousel_card .swiper-wrapper {
  height: auto;
}
.tabBar .swiper-button-disabled,
.streaming_carousel_card .swiper-button-disabled {
  display: none;
}
.tabBar .swiper-button-prev:not(.sm),
.tabBar .swiper-button-next:not(.sm),
.streaming_carousel_card .swiper-button-prev:not(.sm),
.streaming_carousel_card .swiper-button-next:not(.sm) {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
  background-size: 12px;
  z-index: 9;
}
@media screen and (max-width: 1024px) {
  .tabBar .swiper-button-prev,
  .tabBar .swiper-button-next,
  .streaming_carousel_card .swiper-button-prev,
  .streaming_carousel_card .swiper-button-next {
    display: none;
  }
}
.tabBar .swiper-button-prev.sm,
.tabBar .swiper-button-next.sm,
.streaming_carousel_card .swiper-button-prev.sm,
.streaming_carousel_card .swiper-button-next.sm {
  display: block;
  background-size: 6px;
}
@media screen and (max-width: 1024px) {
  .tabBar .swiper-button-prev.sm,
  .tabBar .swiper-button-next.sm,
  .streaming_carousel_card .swiper-button-prev.sm,
  .streaming_carousel_card .swiper-button-next.sm {
    display: none;
  }
}
@media screen and (max-width: 767.9px) {
  .tabBar .swiper-button-prev.sm,
  .tabBar .swiper-button-next.sm,
  .streaming_carousel_card .swiper-button-prev.sm,
  .streaming_carousel_card .swiper-button-next.sm {
    top: calc(50% - 16px);
  }
}
.tabBar .swiper-button-prev,
.streaming_carousel_card .swiper-button-prev {
  background-image: url("../img/streaming/carousel_arrow_lt.png");
  left: -28px;
}
.tabBar .swiper-button-prev.sm,
.streaming_carousel_card .swiper-button-prev.sm {
  left: 10px;
}
.tabBar .swiper-button-next,
.streaming_carousel_card .swiper-button-next {
  background-image: url("../img/streaming/carousel_arrow_rt.png");
  right: -28px;
}
.tabBar .swiper-button-next.sm,
.streaming_carousel_card .swiper-button-next.sm {
  right: 10px;
}
.tabBar .swiper-pagination,
.streaming_carousel_card .swiper-pagination {
  bottom: 0;
  left: 50%;
  height: 19px;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  .tabBar .swiper-pagination,
  .streaming_carousel_card .swiper-pagination {
    top: -36px;
    bottom: auto;
    right: 0;
    left: auto;
    transform: translateX(0);
  }
}
@media screen and (min-width: 1024px) {
  .tabBar :lang(ar) .swiper-pagination,
  .streaming_carousel_card :lang(ar) .swiper-pagination {
    left: 0;
    right: auto;
  }
}/*# sourceMappingURL=streaming_list.css.map */