@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.stream-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 9;
  margin-bottom: 30px;
  /*實況狀態*/
  /*實況狀態*/
  /*圖示*/
  /*圖示*/
  /*頻道*/
  /*頻道*/
  /*社群*/
  /*社群*/
  /*共用結構*/
  /* products */
  /* products */
  /* chat */
  /* 全螢幕 */
  /*直播準備*/
  /*直播主區塊*/
}
@media screen and (max-width: 1000px) {
  .stream-wrapper {
    flex-direction: column;
    height: 99vh;
  }
}
.stream-wrapper .placeholder {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  opacity: 0;
}
.stream-wrapper .placeholder-content {
  position: relative;
}
.stream-wrapper .placeholder-spinner {
  animation: rotate 1s linear infinite;
  border-radius: 50%;
  height: 38px;
  position: relative;
  width: 38px;
}
.stream-wrapper .placeholder-spinner:after {
  background: #000;
  border-radius: 50%;
  bottom: 5px;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.stream-wrapper .placeholder-gradient {
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  border-radius: 50%;
  bottom: -1px;
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
}
.stream-wrapper .placeholder-message {
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .component_layout {
    padding: 0;
  }
}
.stream-wrapper .streaming_stateBox {
  display: flex;
  margin: 20px 10px 0 20px;
  border-radius: 15px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .streaming_stateBox {
    margin: 10px 10px 0;
  }
}
.stream-wrapper .streaming_stateBox .streaming_state,
.stream-wrapper .streaming_stateBox .streaming_view {
  min-height: 28px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  padding: 2px 10px;
  line-height: 1;
  color: #fff;
}
.stream-wrapper .streaming_stateBox .streaming_state {
  border-radius: 15px 0 0 15px;
  background: #df2800;
}
.stream-wrapper .streaming_stateBox .streaming_view {
  border-radius: 0 15px 15px 0;
  background: #9ea1a5;
}
.stream-wrapper .streaming_stateBox.replay .streaming_state {
  background: #fabe0f;
}
.stream-wrapper .streaming_stateBox.premiere .streaming_state {
  background: #fa7d0f;
}
.stream-wrapper .streaming_stateBox.upcoming .streaming_state {
  background: #2f9bff;
}
@media screen and (max-width: 767px) {
  .stream-wrapper .streaming_stateBox {
    padding: 10px 0 0 10px;
  }
  .stream-wrapper .streaming_stateBox + .streaming_stateBox {
    display: none;
  }
}
.stream-wrapper .streaming_icon {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-right: 5px;
}
.stream-wrapper .streaming_icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: -26px;
  filter: drop-shadow(26px 0 #fff);
}
.stream-wrapper .streaming_channel {
  display: flex;
  align-items: center;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .stream-wrapper .streaming_channel {
    display: none;
  }
}
.stream-wrapper .streaming_channel .streaming_avatar {
  width: 50px;
  border-radius: 100%;
  aspect-ratio: 1;
  flex-shrink: 0;
  margin: 0 15px 0 0;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.stream-wrapper .streaming_channel .streaming_avatar span {
  color: #fff;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background: #fabe0f;
  padding: 0 0 4px;
}
.stream-wrapper .streaming_channel .streaming_avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.stream-wrapper .streaming_channel .streaming_name {
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .stream-wrapper .streaming_channel .streaming_name {
    font-size: 15px;
  }
}
.stream-wrapper .streaming_community {
  margin: 10px 0 0;
}
.stream-wrapper .streaming_community ul {
  display: flex;
  justify-content: center;
}
.stream-wrapper .streaming_community ul li {
  margin: 0 5px;
}
.stream-wrapper .streaming_community ul li button,
.stream-wrapper .streaming_community ul li a {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;
  position: relative;
  overflow: hidden;
}
.stream-wrapper .streaming_community ul li button img,
.stream-wrapper .streaming_community ul li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: -50px;
  top: 0;
  filter: drop-shadow(50px 0 0 #fff);
}
.stream-wrapper .streaming_community ul li button:hover img,
.stream-wrapper .streaming_community ul li a:hover img {
  filter: drop-shadow(50px 0 0 #fabe0f);
}
.stream-wrapper .streaming_emailInput {
  width: 100%;
  max-width: 200px;
  display: flex;
  align-items: center;
  margin: 10px auto 0;
  position: relative;
}
.stream-wrapper .streaming_emailInput input,
.stream-wrapper .streaming_emailInput button {
  height: 30px;
}
.stream-wrapper .streaming_emailInput input {
  flex-shrink: 1;
  border-radius: 15px 0 0 15px;
  background: #fff;
  border: none;
  padding: 0 10px;
  width: calc(100% - 38px);
  box-sizing: border-box;
}
.stream-wrapper .streaming_emailInput input::-moz-placeholder {
  color: #959595;
}
.stream-wrapper .streaming_emailInput input::placeholder {
  color: #959595;
}
.stream-wrapper .streaming_emailInput button {
  width: 38px;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 0 10px;
  border-radius: 0 15px 15px 0;
  background: #fa7d0f;
}
.stream-wrapper .streaming_btn {
  white-space: nowrap;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #e3e3e3;
  cursor: pointer;
  height: 30px;
  padding: 0 15px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.stream-wrapper .streaming_btn i {
  margin: 0 5px 0 0;
  width: 20px;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  overflow: hidden;
}
.stream-wrapper .streaming_btn img {
  aspect-ratio: 1;
}
.stream-wrapper .streaming_btn.icon {
  padding: 0 5px;
}
.stream-wrapper .streaming_btn.icon i {
  margin: 0;
}
.stream-wrapper .streaming_btn.active, .stream-wrapper .streaming_btn:hover {
  background: #fabe0f;
}
.stream-wrapper .streaming_btn + .streaming_btn {
  margin: 0 0 0 5px;
}
.stream-wrapper .streaming_box {
  overflow: hidden;
}
@media screen and (max-width: 767.9px) {
  .stream-wrapper .streaming_box {
    border-radius: 0px;
  }
}
.stream-wrapper .streaming_box * {
  box-sizing: border-box;
}
.stream-wrapper .streaming_box img {
  position: relative;
  height: auto;
}
.stream-wrapper .streaming_box .streaming_icon {
  margin-right: 5px;
}
.stream-wrapper .streaming_box:hover {
  z-index: 10;
}
.stream-wrapper .streaming_box:hover .streaming_content {
  transform: scaleX(-1);
  opacity: 0;
}
.stream-wrapper .streaming_box:hover .streaming_hoverContent {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition-delay: 0.3s;
}
.stream-wrapper .streaming_box .streaming_addBtn,
.stream-wrapper .streaming_box .streaming_more {
  width: 100%;
  line-height: 1;
  cursor: pointer;
  border: none;
  text-align: center;
  background: #df2800;
  color: #fff;
  padding: 8px 15px;
  margin: 10px auto;
  max-width: 200px;
  border-radius: 20px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
.stream-wrapper .streaming_box .streaming_addBtn:hover,
.stream-wrapper .streaming_box .streaming_more:hover {
  color: #000;
  background: #fabe0f;
}
.stream-wrapper .streaming_box .addthis_inline_share_toolbox_49zg {
  text-align: center;
}
.stream-wrapper .streaming_content {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}
.stream-wrapper .streaming_content img {
  opacity: 1 !important;
}
.stream-wrapper .streaming_content .streaming_infoBox {
  margin: auto 0 0;
}
.stream-wrapper .streaming_hoverContent {
  padding: 20px;
  opacity: 0;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.stream-wrapper .streaming_videoBox {
  width: calc(100% - 350px);
  padding: 0 30px 0 0;
  position: relative;
  isolation: isolate;
  z-index: 9;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .streaming_videoBox {
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
  }
}
.stream-wrapper .streaming_videoBox .aspect-16x9 {
  width: 100%;
  position: relative;
}
.stream-wrapper .player {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .player {
    border-radius: 0;
    border: none;
  }
}
.stream-wrapper .player:-webkit-full-screen {
  --bs-gutter-x: 0;
}
.stream-wrapper .player:fullscreen {
  --bs-gutter-x: 0;
}
.stream-wrapper .player:-webkit-full-screen video {
  height: 100vh;
  width: 100vw;
}
.stream-wrapper .player:fullscreen video {
  height: 100vh;
  width: 100vw;
}
.stream-wrapper .player .video-el {
  width: 100%;
  aspect-ratio: 16/9;
  background: gray;
}
.stream-wrapper .player .player-ui .player-ui-controls {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}
.stream-wrapper .player .player-ui .player-ui-controls .streaming_btn {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  margin: 0 0 0 5px;
}
.stream-wrapper .player .player-ui .player-ui-controls .streaming_btn.active, .stream-wrapper .player .player-ui .player-ui-controls .streaming_btn:hover {
  background: #fabe0f;
}
.stream-wrapper .player .player-ui .player-ui-controls .streaming_btn + div {
  margin: 0 0 0 5px;
}
.stream-wrapper .player .player-ui .player-ui-controls .streaming_btn + div + .streaming_btn {
  margin: 0 0 0 5px;
}
.stream-wrapper .player .player-ui .top {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: flex-end;
}
.stream-wrapper .player .player-ui .streaming_videoPic {
  line-height: 0;
  order: 9;
  margin: 0 0 0 10px;
  position: relative;
  z-index: 50;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .player .player-ui .streaming_videoPic:nth-child(1) {
    display: none;
  }
}
.stream-wrapper .player .player-ui .streaming_videoPic button img, .stream-wrapper .player .player-ui .streaming_videoPic > img {
  width: auto;
  max-height: 40px;
}
.stream-wrapper .player .player-ui .streaming_videoPic button {
  padding: 0;
  background: none;
  border: none;
  max-width: 40px;
  height: 40px;
}
.stream-wrapper .player .player-ui .streaming_videoPic button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.stream-wrapper .player .player-ui .streaming_videoPic button:hover ~ .qrCodeBig {
  opacity: 1;
  visibility: visible;
}
.stream-wrapper .player .player-ui .qrCodeBig {
  position: absolute;
  border-radius: 10px;
  background: #fff;
  right: calc(100% + 10px);
  top: 0;
  width: 200px;
  height: 200px;
  aspect-ratio: 1;
  line-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  visibility: hidden;
  overflow: hidden;
}
.stream-wrapper .player .player-ui .qrCodeBig img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: contain;
     object-fit: contain;
}
.stream-wrapper .player .player-ui .streaming_share {
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .player .player-ui .streaming_share {
    display: none;
  }
}
.stream-wrapper .player .player-ui .streaming_share > button {
  margin: 0 auto 5px;
}
.stream-wrapper .player .player-ui .streaming_share ul {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.stream-wrapper .player .player-ui .streaming_share ul li button {
  border-radius: 0;
  background: none;
}
.stream-wrapper .player .streaming_content {
  padding: 10px;
  display: block;
  inset: unset;
  top: 0;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .player .streaming_content .streaming_stateBox {
    padding: 0;
  }
}
.stream-wrapper .player .streaming_chatBtn {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.stream-wrapper .player .streaming_chatBtn button {
  margin: 0;
}
.stream-wrapper .tabSet {
  font-size: 16px;
  min-width: 350px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
  z-index: 0;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .tabSet {
    padding: 0 10px;
    flex-grow: 1;
  }
}
.stream-wrapper .tabSet .tabItems {
  display: flex;
}
.stream-wrapper .tabSet .tabItems button:last-child {
  display: none;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .tabSet .tabItems button:last-child {
    display: block;
  }
}
.stream-wrapper .tabSet .tabItems button {
  margin: 0;
  border: none;
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  background: #f3f3f3;
  flex-grow: 1;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .tabSet .tabItems button {
    padding: 8px 10px;
  }
}
.stream-wrapper .tabSet .tabItems button.active, .stream-wrapper .tabSet .tabItems button:hover {
  background: #fabe0f;
}
.stream-wrapper .tabSet .tabItems button + button {
  margin-left: 5px;
}
.stream-wrapper .tabSet .tabContentGroup {
  flex-grow: 1;
  border: #e3e3e3 1px solid;
  border-radius: 0 0 10px 10px;
  position: relative;
  isolation: isolate;
  min-height: 300px;
  overflow: hidden;
}
.stream-wrapper .tabSet .tabContent {
  position: absolute;
  inset: 0px;
  background: #fff;
  overflow-y: auto;
  scrollbar-color: #fabe0f rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  background: #fff;
}
.stream-wrapper .tabSet .tabContent::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.stream-wrapper .tabSet .tabContent::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fabe0f;
}
.stream-wrapper .tabSet .tabContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.stream-wrapper .tabSet .tabContent .streaming_videoInfo {
  padding: 20px;
}
.stream-wrapper .tabSet .tabContent .streaming_videoInfo .streaming_title {
  font-size: 18px;
}
.stream-wrapper .tabSet #product-container {
  padding: 0 0 10px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.stream-wrapper .tabSet #product-container .productsMore {
  padding: 10px 10px 0;
  background: #fff;
}
.stream-wrapper .tabSet #product-container .productsMore .streaming_btn {
  border-radius: 4px;
  padding: 10px 20px;
  height: auto;
  font-size: 16px;
  margin: 0 auto;
}
.stream-wrapper .tabSet #product-list {
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #fabe0f rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  background: #fff;
  flex-grow: 1;
}
.stream-wrapper .tabSet #product-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.stream-wrapper .tabSet #product-list::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fabe0f;
}
.stream-wrapper .tabSet #product-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.stream-wrapper .tabSet #product-list li {
  display: flex;
  align-items: flex-start;
  padding: 10px 10px 10px 0;
}
.stream-wrapper .tabSet #product-list li + li {
  border-top: #e3e3e3 1px solid;
}
.stream-wrapper .tabSet #product-list img {
  width: 85px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
  border: #e3e3e3 1px solid;
  border-radius: 8px;
}
.stream-wrapper .tabSet #product-list .name {
  font-size: 16px;
  margin-bottom: 3px;
}
.stream-wrapper .tabSet #product-list .price {
  font-size: 16px;
  margin-bottom: 3px;
  color: #f65248;
  font-weight: bold;
}
.stream-wrapper .tabSet #product-list .price span {
  color: #8a96a6;
  font-size: 12px;
  font-weight: normal;
}
.stream-wrapper .tabSet #product-list .btnBox {
  display: flex;
  margin: 0 0 0 auto;
}
.stream-wrapper .tabSet #product-list .btnBox button {
  margin: 0 5px 0 0;
  white-space: nowrap;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  background: none;
  border: 1px solid #000;
}
.stream-wrapper .tabSet #product-list .btnBox button:hover {
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
}
.stream-wrapper .tabSet #product-list .btnBox button:nth-child(2) {
  border: 1px solid #fabe0f;
  background: #fabe0f;
}
.stream-wrapper .tabSet #product-list .btnBox button:nth-child(2):hover {
  background: #eb9d00;
  border: 1px solid #eb9d00;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .tabSet .streaming_videoInfo {
    display: block;
  }
}
.stream-wrapper .tabSet > .streaming_videoInfo {
  display: none;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .tabSet > .streaming_videoInfo {
    display: block;
    margin: 0 0 20px;
  }
}
.stream-wrapper .streaming_box {
  display: flex;
  flex-direction: column;
  height: 100%;
  isolation: isolate;
}
.stream-wrapper .chatroom-container {
  overflow: hidden;
  flex-shrink: 0;
}
.stream-wrapper .chatroom-container .connection-name {
  display: flex;
  flex-direction: column-reverse;
}
.stream-wrapper .chatroom-container .connection-name li {
  padding: 8px 15px;
}
.stream-wrapper .chatroom-container .connection-name li span {
  word-wrap: break-word;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  word-break: break-all;
}
.stream-wrapper .chatroom-container .connection-name li:not(:last-child) {
  display: none;
}
.stream-wrapper .chatroom-container .connection-name .orchid {
  background-color: orchid;
}
.stream-wrapper .chatroom-container .connection-name .coral {
  background-color: coral;
}
.stream-wrapper .chatroom-container .connection-name .orangered {
  background-color: #ff4500;
}
.stream-wrapper .chatroom-container .connection-name .cornflowerblue {
  background-color: #6495ed;
}
.stream-wrapper .chatroom-container .connection-name .skyblue {
  background-color: skyblue;
}
.stream-wrapper .chatroom-container .connection-name .limegreen {
  background-color: #32cd32;
}
.stream-wrapper .chat-content {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-color: #fabe0f rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  margin-bottom: 5px;
}
.stream-wrapper .chat-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.stream-wrapper .chat-content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fabe0f;
}
.stream-wrapper .chat-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.stream-wrapper .chat-content .chat-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
.stream-wrapper .chat-content .chat-list li {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1px;
}
.stream-wrapper .chat-content .chat-list li .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.stream-wrapper .chat-content .chat-list li time {
  display: block;
  font-size: 12px;
  transform: scale(0.9);
  color: #9ea1a5;
}
.stream-wrapper .chat-content .chat-list li .info {
  margin-bottom: 2px;
}
.stream-wrapper .chat-content .chat-list li .info span {
  color: #8a96a6;
  font-size: 14px;
  margin: 0 10px 0 0;
}
.stream-wrapper .chat-content .chat-list li .textContent {
  width: 100%;
  line-height: 1.2;
}
.stream-wrapper .chat-content .chat-list li.streamer {
  color: #eb9d00;
}
.stream-wrapper .chat-content .chat-list li.streamer span {
  font-weight: bold;
  color: #eb9d00;
}
.stream-wrapper .chat-content .chat-list li.streamer .textContent {
  color: #2b2b2b;
  background: #fff0c7;
  padding: 6px 8px;
  border-radius: 4px;
}
.stream-wrapper .chat-content .chat-list li.self-chat .textContent {
  color: #2b2b2b;
  background-color: #f3f3f3;
  padding: 4px 8px;
  border-radius: 4px;
}
.stream-wrapper .chat-content .chat-list li + li {
  margin-top: 10px;
}
.stream-wrapper .send-chat {
  flex-shrink: 0;
  right: 10px;
  left: 1px;
  display: flex;
  position: relative;
}
.stream-wrapper .send-chat > span {
  margin: 0;
  flex-grow: 1;
}
.stream-wrapper .send-chat span input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #e3e3e3;
  border-width: 1px 1px 0 0;
  padding: 5px 15px;
}
.stream-wrapper .send-chat button {
  background: #fabe0f;
  border: none;
  color: #000;
  border-radius: 4px 4px 0 0;
  padding: 0 10px;
  margin: 0 0 0 5px;
}
.stream-wrapper .send-chat button:last-child {
  border-radius: 4px 0 0 0;
}
.stream-wrapper .send-chat button:hover {
  background: #eb9d00;
}
.stream-wrapper .send-chat .chat_streaming_state {
  position: absolute;
  inset: 0;
  z-index: 9;
  background: rgba(92, 92, 92, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.stream-wrapper .send-chat .chat_streaming_state a,
.stream-wrapper .send-chat .chat_streaming_state button {
  display: block;
  border-radius: 5px;
  padding: 3px 10px;
  background: #fabe0f;
  border: none;
  color: #000;
}
.stream-wrapper .send-chat .chat_streaming_state a:hover,
.stream-wrapper .send-chat .chat_streaming_state button:hover {
  background: #eb9d00;
}
.stream-wrapper .send-chat .chat_streaming_state .info {
  color: #fff;
}
.stream-wrapper .player:-webkit-full-screen {
  overflow: hidden;
}
.stream-wrapper .player:fullscreen {
  overflow: hidden;
}
.stream-wrapper .player:-webkit-full-screen .streaming_boxFull {
  display: flex;
}
.stream-wrapper .player:fullscreen .streaming_boxFull {
  display: flex;
}
.stream-wrapper .player:-webkit-full-screen .player {
  position: fixed;
  inset: 0;
  border-radius: 0;
  border: none;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}
.stream-wrapper .player:fullscreen .player {
  position: fixed;
  inset: 0;
  border-radius: 0;
  border: none;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}
.stream-wrapper .player:-webkit-full-screen .streaming_videoBox, .stream-wrapper .player:-webkit-full-screen .aspect-16x9 {
  margin: 0;
  position: fixed;
  inset: 0;
  z-index: 9;
}
.stream-wrapper .player:fullscreen .streaming_videoBox,
.stream-wrapper .player:fullscreen .aspect-16x9 {
  margin: 0;
  position: fixed;
  inset: 0;
  z-index: 9;
}
.stream-wrapper .player:-webkit-full-screen .player-ui .streaming_btn {
  background: rgba(255, 255, 255, 0.5);
}
.stream-wrapper .player:fullscreen .player-ui .streaming_btn {
  background: rgba(255, 255, 255, 0.5);
}
.stream-wrapper .player:-webkit-full-screen .player-ui .streaming_btn.active, .stream-wrapper .player:-webkit-full-screen .player-ui .streaming_btn:hover {
  background: #fabe0f;
}
.stream-wrapper .player:fullscreen .player-ui .streaming_btn.active, .stream-wrapper .player:fullscreen .player-ui .streaming_btn:hover {
  background: #fabe0f;
}
.stream-wrapper .player:-webkit-full-screen .player-ui .streaming_share ul {
  background: rgba(255, 255, 255, 0.5);
}
.stream-wrapper .player:fullscreen .player-ui .streaming_share ul {
  background: rgba(255, 255, 255, 0.5);
}
.stream-wrapper .player:-webkit-full-screen .streaming_chatBtn {
  position: relative;
  order: -1;
  margin-right: 5px !important;
}
.stream-wrapper .player:fullscreen .streaming_chatBtn {
  position: relative;
  order: -1;
  margin-right: 5px !important;
}
.stream-wrapper .player:-webkit-full-screen .streaming_content {
  padding: 0;
  left: 10px;
  top: 10px;
}
.stream-wrapper .player:fullscreen .streaming_content {
  padding: 0;
  left: 10px;
  top: 10px;
}
.stream-wrapper .player:-webkit-full-screen .streaming_stateBox {
  padding: 0;
}
.stream-wrapper .player:fullscreen .streaming_stateBox {
  padding: 0;
}
.stream-wrapper .streaming_boxFull {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 150px;
  bottom: 80px;
  left: 10px;
  z-index: 99;
  max-width: 350px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .streaming_boxFull {
    top: auto;
    max-height: 50vh;
    max-width: 300px;
  }
}
.stream-wrapper .streaming_boxFull .streaming_channel {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  position: fixed;
  display: flex;
  top: 50px;
  left: 10px;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 1000px) {
  .stream-wrapper .streaming_boxFull .streaming_channel {
    max-width: 300px;
  }
}
.stream-wrapper .streaming_boxFull #send-chat span input {
  border: 1px solid #e3e3e3;
}
.stream-wrapper .streaming_boxFull .chat-content .chat-list {
  padding: 10px 10px 10px 0;
}
.stream-wrapper .streaming_boxFull .chat-content .chat-list li {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.stream-wrapper .streaming_boxFull .chat-content .chat-list li .textContent {
  padding: 0;
  background: none;
}
.stream-wrapper .streaming_boxFull .chat-content .chat-list li.self-chat {
  color: #2b2b2b;
  background-color: rgba(0, 0, 0, 0.1);
}
.stream-wrapper .streaming_boxFull .chat-content .chat-list li.streamer {
  background: rgba(250, 190, 15, 0.3);
}
.stream-wrapper .upcomingBox {
  position: absolute;
  inset: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 9;
  isolation: isolate;
}
.stream-wrapper .upcomingBox::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.stream-wrapper .upcomingBox > * {
  z-index: 9;
}
.stream-wrapper .upcomingBox .streaming_stateBox {
  position: absolute;
  left: 10px;
  top: 10px;
}
.stream-wrapper .upcomingBox .streaming_channel {
  color: #fff;
}
.stream-wrapper .upcomingBox .stateTitle {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 15px;
}
.stream-wrapper .upcomingBox .countDown {
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 40px;
}
.stream-wrapper .upcomingBox .countDown span {
  color: #f65248;
  font-weight: bold;
  font-size: 30px;
}
.stream-wrapper .aspect-16x9 + .component_tit {
  margin-top: 20px;
}
.stream-wrapper .inTab li {
  flex-direction: column;
}
.stream-wrapper .inTab li .streaming_inputList {
  flex-direction: column;
  align-items: flex-start;
}
.stream-wrapper .inTab li .streaming_inputList:first-child {
  width: auto;
}
.stream-wrapper .inTab li .streaming_inputList .input_field {
  width: 100%;
}
.stream-wrapper .inTab li .streaming_inputList.notice {
  border-color: #e3e3e3;
}
.stream-wrapper .inTab li .button_area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.stream-wrapper .inTab li .button_area button {
  margin: 0;
  flex: 1 1 calc(50% - 10px);
}
.stream-wrapper .translate {
  position: relative;
}
.stream-wrapper .translateBox {
  position: absolute;
  padding: 10px 15px 10px 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  bottom: calc(100% + 10px);
  display: block;
  margin: 0 !important;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100px;
  overflow-y: auto;
}
.stream-wrapper .translateBox li + li {
  margin-top: 5px;
}
.stream-wrapper .translateBox button {
  color: #fff;
  font-size: 14px;
  display: flex;
  background: none;
  border: none;
  padding: 0;
  white-space: nowrap;
}
.stream-wrapper .translateBox button i {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  background: url("../img/streaming/icon/icon_done.svg") no-repeat;
  opacity: 0;
}
.stream-wrapper .translateBox button.active i {
  opacity: 1;
}
.stream-wrapper .volume {
  position: relative;
}
.stream-wrapper .volumeBox {
  position: absolute;
  padding: 10px 15px 10px 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  bottom: calc(100% + 10px);
  display: block;
  margin: 0 !important;
  left: 0%;
  transform: rotate(-90deg) translateY(-50%) translateX(20px);
}
.stream-wrapper .volumeBox input {
  width: 50px;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.streaming_streamerBox:not(.inTab) {
  background: #e3e3e3;
  border-radius: 16px;
  padding: 20px 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) {
  .streaming_streamerBox:not(.inTab) {
    display: none;
  }
}
.streaming_streamerBox li {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 1100px) {
  .streaming_streamerBox li {
    flex-direction: column;
  }
}
.streaming_streamerBox li li {
  counter-increment: num;
  position: relative;
  padding-left: 15px;
}
.streaming_streamerBox li li::before {
  content: counter(num) ".";
  position: absolute;
  right: calc(100% - 10px);
}
.streaming_streamerBox li li + li {
  margin-top: 10px;
}
.streaming_streamerBox .streaming_inputList {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.streaming_streamerBox .streaming_inputList:first-child {
  width: calc(100% - 300px);
}
@media screen and (max-width: 1100px) {
  .streaming_streamerBox .streaming_inputList:first-child {
    width: 100%;
  }
}
.streaming_streamerBox .streaming_inputList:first-child input[type=text] {
  flex-grow: 1;
}
.streaming_streamerBox .streaming_inputList .input_field {
  flex-grow: 1;
}
.streaming_streamerBox .streaming_inputList.notice, .streaming_streamerBox .streaming_inputList.top {
  width: auto;
  align-items: flex-start;
}
.streaming_streamerBox .streaming_inputList.notice {
  flex-grow: 1;
  border-top: #fff 1px solid;
  padding-top: 20px;
}
.streaming_streamerBox .label,
.streaming_streamerBox label {
  flex-shrink: 0;
  width: 80px;
  margin-right: 10px;
  white-space: nowrap;
}
.streaming_streamerBox .advanced_action_area {
  padding: 0;
}
.streaming_streamerBox button {
  border: none;
  margin-right: 0 !important;
}
.streaming_streamerBox button + button {
  margin-left: 8px;
}
.streaming_streamerBox button:disabled {
  background: #f3f3f3 !important;
  cursor: not-allowed;
}

.streaming_stateInfoBox {
  display: flex;
  align-items: center;
}
.streaming_stateInfoBox .countDown {
  margin: 0 20px 0 0;
}
.streaming_stateInfoBox .countDown span {
  color: #f65248;
  font-weight: bold;
  font-size: 30px;
}
.streaming_stateInfoBox .streaming_stateBox {
  position: relative;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  margin: 0;
  flex-shrink: 0;
}
.streaming_stateInfoBox .streaming_stateBox .streaming_state {
  min-height: 28px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  padding: 8px 18px 10px;
  line-height: 1;
  color: #fff;
  border-radius: 30px;
  white-space: nowrap;
  background: #df2800;
}
.streaming_stateInfoBox .streaming_stateBox.replay .streaming_state {
  background: #fabe0f;
}
.streaming_stateInfoBox .streaming_stateBox.premiere .streaming_state {
  background: #fa7d0f;
}
.streaming_stateInfoBox .streaming_stateBox.upcoming .streaming_state {
  background: #2f9bff;
}

/*介紹區塊*/
.streaming_videoInfo {
  /*頻道*/
  /*頻道*/
}
@media screen and (max-width: 1000px) {
  .streaming_videoInfo {
    display: none;
  }
}
.streaming_videoInfo .streaming_title {
  font-size: 26px;
  color: #575f66;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
  overflow: unset;
  display: block;
  -webkit-line-clamp: unset;
}
.streaming_videoInfo .streaming_channel {
  align-items: center;
  font-weight: 500;
  margin: 0 0 15px 0;
  display: flex;
}
@media screen and (max-width: 1000px) {
  .streaming_videoInfo .streaming_channel {
    margin: 0;
  }
}
.streaming_videoInfo .streaming_channel .streaming_avatar {
  width: 50px;
  border-radius: 100%;
  aspect-ratio: 1;
  flex-shrink: 0;
  margin: 0 15px 0 0;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.streaming_videoInfo .streaming_channel .streaming_avatar span {
  color: #fff;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background: #fabe0f;
  padding: 0 0 4px;
}
.streaming_videoInfo .streaming_channel .streaming_avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.streaming_videoInfo .streaming_channel .streaming_name {
  font-size: 16px;
  color: #575f66;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.streaming_videoInfo .streaming_btn {
  max-width: 200px;
  background: #9ea1a5;
  margin-top: 8px;
  color: #fff;
  display: block;
  white-space: nowrap;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  height: 30px;
  padding: 0 15px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.streaming_videoInfo .streaming_btn:hover {
  background: #fabe0f;
}
.streaming_videoInfo .streaming_description {
  color: #575f66;
  font-size: 18px;
}

.streaming_information .streaming_channel_list {
  background: #fffaec;
}
.streaming_information .streaming_channel_list li {
  display: flex;
  align-items: flex-start;
  color: #7b7b7b;
  padding: 0 30px;
  position: relative;
  isolation: isolate;
}
.streaming_information .streaming_channel_list li::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 0px;
  bottom: 0;
  left: 60px;
  display: block;
  background: #fa7d0f;
}
.streaming_information .streaming_channel_list li .streaming_info {
  flex-grow: 1;
  padding: 30px 0;
  border-bottom: 1px solid #e3e3e3;
}
.streaming_information .streaming_channel_list li:first-child::before {
  top: 30px;
}
.streaming_information .streaming_channel_list li:last-child::before {
  height: 30px;
  bottom: auto;
}
.streaming_information .streaming_channel_list li.end {
  background: #e8e8e8;
}
.streaming_information .streaming_channel_list li.end .streaming_info time,
.streaming_information .streaming_channel_list li.end .streaming_title,
.streaming_information .streaming_channel_list li.end .streaming_name {
  filter: grayscale(1);
  opacity: 0.3;
}
.streaming_information .streaming_channel_list li.end .streaming_avatar {
  filter: grayscale(1);
}
.streaming_information .streaming_channel_list .streaming_avatar {
  max-width: 60px;
  background: #fff;
  border-radius: 100%;
  aspect-ratio: 1;
  flex-shrink: 0;
  margin: 30px 15px 0 0;
  border: #e3e3e3 1px solid;
  z-index: 9;
}
.streaming_information .streaming_channel_list .streaming_avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.streaming_information .streaming_channel_list .streaming_title {
  font-weight: bold;
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .streaming_information .streaming_channel_list .streaming_title {
    font-size: 18px;
  }
}
.streaming_information .streaming_channel_list .streaming_name {
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .streaming_information .streaming_channel_list .streaming_name {
    font-size: 15px;
  }
}
.streaming_information .streaming_channel_list .streaming_name + .streaming_btn {
  margin-top: 10px;
}
.streaming_information .streaming_channel_list .streaming_btn {
  max-width: 200px;
  background: #9ea1a5;
  margin-top: 8px;
  color: #fff;
  display: block;
  white-space: nowrap;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  height: 30px;
  padding: 0 15px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.streaming_information .streaming_channel_list .streaming_btn:hover {
  background: #fabe0f;
}
.streaming_information .streaming_channel_list .streaming_onAir {
  position: absolute;
  right: 30px;
  top: 30px;
  background: #df2800;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .streaming_information .streaming_channel_list .streaming_onAir span {
    display: none;
  }
}
.streaming_information .streaming_channel_list .streaming_onAir::before {
  content: "";
  width: 25px;
  height: 20px;
  display: block;
  margin: 0 5px 0 0;
  -webkit-mask: url("../img/streaming/icon/icon_prediction.svg") center no-repeat;
          mask: url("../img/streaming/icon/icon_prediction.svg") center no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .streaming_information .streaming_channel_list .streaming_onAir::before {
    margin: 0;
  }
}
.streaming_information .streaming_channel_list .streaming_onAir + .streaming_info {
  padding-right: 150px;
}
@media screen and (max-width: 767px) {
  .streaming_information .streaming_channel_list .streaming_onAir + .streaming_info {
    padding-right: 60px;
  }
}
.streaming_information .streaming_channel_list .streaming_next {
  position: absolute;
  right: 30px;
  top: 30px;
  background: #2f9bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .streaming_information .streaming_channel_list .streaming_next {
    width: 45px;
    justify-content: center;
  }
  .streaming_information .streaming_channel_list .streaming_next span {
    display: none;
  }
}
.streaming_information .streaming_channel_list .streaming_next::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  margin: 0 5px 0 0;
  border-color: transparent transparent transparent #fff;
}
@media screen and (max-width: 767px) {
  .streaming_information .streaming_channel_list .streaming_next::before {
    margin: 0;
  }
}
.streaming_information .streaming_channel_list .streaming_next + .streaming_info {
  padding-right: 150px;
}
@media screen and (max-width: 767px) {
  .streaming_information .streaming_channel_list .streaming_next + .streaming_info {
    padding-right: 50px;
  }
}

.streaming_streamingList {
  /*實況狀態*/
  /*實況狀態*/
  /*圖示*/
  /*圖示*/
  /*頻道*/
  /*頻道*/
  /*社群*/
  /*社群*/
  /*共用結構*/
}
.streaming_streamingList .streaming_listBox {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}
.streaming_streamingList .streaming_listBox .streaming_item {
  position: relative;
  width: calc((100% - 72px) / 4);
}
@media screen and (max-width: 1000px) {
  .streaming_streamingList .streaming_listBox .streaming_item {
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (max-width: 767px) {
  .streaming_streamingList .streaming_listBox .streaming_item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (max-width: 500px) {
  .streaming_streamingList .streaming_listBox .streaming_item {
    width: 100%;
  }
}
.streaming_streamingList .streaming_pic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 16/9;
  flex-basis: 50%;
}
.streaming_streamingList .streaming_content {
  flex-basis: 50%;
  position: unset;
  padding: 15px 0px;
  transform: scaleX(1) !important;
  opacity: 1 !important;
}
@media screen and (min-width: 1000px) {
  .streaming_streamingList .streaming_content {
    justify-content: center;
  }
}
.streaming_streamingList .streaming_hoverContent {
  transition-delay: 0s !important;
  border-radius: 16px;
  overflow: hidden;
}
.streaming_streamingList .streaming_stateBox {
  top: 10px;
  left: 10px;
  padding: 0;
  position: absolute;
}
.streaming_streamingList .streaming_title {
  order: 3;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin-top: 10px;
}
@media screen and (max-width: 767.9px) {
  .streaming_streamingList .streaming_channel {
    display: flex;
  }
}
.streaming_streamingList .streaming_channel .streaming_avatar {
  margin: 0 10px 0 0;
}
.streaming_streamingList .streaming_stateBox {
  display: flex;
  margin: 0 10px 0 0;
}
@media screen and (max-width: 1000px) {
  .streaming_streamingList .streaming_stateBox {
    padding: 10px 10px 0;
  }
}
.streaming_streamingList .streaming_stateBox .streaming_state,
.streaming_streamingList .streaming_stateBox .streaming_view {
  min-height: 28px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  padding: 2px 10px;
  line-height: 1;
  color: #fff;
}
.streaming_streamingList .streaming_stateBox .streaming_state {
  border-radius: 15px 0 0 15px;
  background: #df2800;
}
.streaming_streamingList .streaming_stateBox .streaming_view {
  border-radius: 0 15px 15px 0;
  background: #9ea1a5;
}
.streaming_streamingList .streaming_stateBox.replay .streaming_state {
  background: #fabe0f;
}
.streaming_streamingList .streaming_stateBox.premiere .streaming_state {
  background: #fa7d0f;
}
.streaming_streamingList .streaming_stateBox.upcoming .streaming_state {
  background: #2f9bff;
}
@media screen and (max-width: 767px) {
  .streaming_streamingList .streaming_stateBox {
    padding: 10px 0 0 10px;
  }
  .streaming_streamingList .streaming_stateBox + .streaming_stateBox {
    display: none;
  }
}
.streaming_streamingList .streaming_icon {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-right: 5px;
}
.streaming_streamingList .streaming_icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: -26px;
  filter: drop-shadow(26px 0 #fff);
}
.streaming_streamingList .streaming_channel {
  display: flex;
  align-items: center;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .streaming_streamingList .streaming_channel {
    display: none;
  }
}
.streaming_streamingList .streaming_channel .streaming_avatar {
  width: 50px;
  border-radius: 100%;
  aspect-ratio: 1;
  flex-shrink: 0;
  margin: 0 15px 0 0;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.streaming_streamingList .streaming_channel .streaming_avatar span {
  color: #fff;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background: #fabe0f;
  padding: 0 0 4px;
}
.streaming_streamingList .streaming_channel .streaming_avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.streaming_streamingList .streaming_channel .streaming_name {
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .streaming_streamingList .streaming_channel .streaming_name {
    font-size: 15px;
  }
}
.streaming_streamingList .streaming_community {
  margin: 10px 0 0;
}
.streaming_streamingList .streaming_community ul {
  display: flex;
  justify-content: center;
}
.streaming_streamingList .streaming_community ul li {
  margin: 0 5px;
}
.streaming_streamingList .streaming_community ul li button,
.streaming_streamingList .streaming_community ul li a {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;
  position: relative;
  overflow: hidden;
}
.streaming_streamingList .streaming_community ul li button img,
.streaming_streamingList .streaming_community ul li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: -50px;
  top: 0;
  filter: drop-shadow(50px 0 0 #fff);
}
.streaming_streamingList .streaming_community ul li button:hover img,
.streaming_streamingList .streaming_community ul li a:hover img {
  filter: drop-shadow(50px 0 0 #fabe0f);
}
.streaming_streamingList .streaming_emailInput {
  width: 100%;
  max-width: 200px;
  display: flex;
  align-items: center;
  margin: 10px auto 0;
  position: relative;
}
.streaming_streamingList .streaming_emailInput input,
.streaming_streamingList .streaming_emailInput button {
  height: 30px;
}
.streaming_streamingList .streaming_emailInput input {
  flex-shrink: 1;
  border-radius: 15px 0 0 15px;
  background: #fff;
  border: none;
  padding: 0 10px;
  width: calc(100% - 38px);
  box-sizing: border-box;
}
.streaming_streamingList .streaming_emailInput input::-moz-placeholder {
  color: #959595;
}
.streaming_streamingList .streaming_emailInput input::placeholder {
  color: #959595;
}
.streaming_streamingList .streaming_emailInput button {
  width: 38px;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 0 10px;
  border-radius: 0 15px 15px 0;
  background: #fa7d0f;
}
.streaming_streamingList .streaming_btn {
  white-space: nowrap;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #e3e3e3;
  cursor: pointer;
  height: 30px;
  padding: 0 15px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.streaming_streamingList .streaming_btn i {
  margin: 0 5px 0 0;
  width: 20px;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.streaming_streamingList .streaming_btn img {
  aspect-ratio: 1;
}
.streaming_streamingList .streaming_btn.icon {
  padding: 0 5px;
}
.streaming_streamingList .streaming_btn.icon i {
  margin: 0;
}
.streaming_streamingList .streaming_btn.active, .streaming_streamingList .streaming_btn:hover {
  background: #fabe0f;
}
.streaming_streamingList .streaming_btn + .streaming_btn {
  margin: 0 0 0 5px;
}
.streaming_streamingList .streaming_box {
  overflow: hidden;
}
@media screen and (max-width: 767.9px) {
  .streaming_streamingList .streaming_box {
    border-radius: 0px;
  }
}
.streaming_streamingList .streaming_box * {
  box-sizing: border-box;
}
.streaming_streamingList .streaming_box img {
  position: relative;
  height: auto;
}
.streaming_streamingList .streaming_box .streaming_icon {
  margin-right: 5px;
}
.streaming_streamingList .streaming_box:hover {
  z-index: 10;
}
.streaming_streamingList .streaming_box:hover .streaming_content {
  transform: scaleX(-1);
  opacity: 0;
}
.streaming_streamingList .streaming_box:hover .streaming_hoverContent {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition-delay: 0.3s;
}
.streaming_streamingList .streaming_box .streaming_addBtn,
.streaming_streamingList .streaming_box .streaming_more {
  width: 100%;
  line-height: 1;
  cursor: pointer;
  border: none;
  text-align: center;
  background: #df2800;
  color: #fff;
  padding: 8px 15px;
  margin: 10px auto;
  max-width: 200px;
  border-radius: 20px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
.streaming_streamingList .streaming_box .streaming_addBtn:hover,
.streaming_streamingList .streaming_box .streaming_more:hover {
  color: #000;
  background: #fabe0f;
}
.streaming_streamingList .streaming_box .addthis_inline_share_toolbox_49zg {
  text-align: center;
}
.streaming_streamingList .streaming_content {
  transition: all 0.5s ease;
  inset: 0;
}
.streaming_streamingList .streaming_content img {
  opacity: 1 !important;
}
.streaming_streamingList .streaming_content .streaming_infoBox {
  margin: auto 0 0;
}
.streaming_streamingList .streaming_hoverContent {
  padding: 20px;
  opacity: 0;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.streaming_streamingList,
.streaming_videoInfo,
.streaming_information {
  margin-top: 50px;
}
@media screen and (max-width: 1000px) {
  .streaming_streamingList,
  .streaming_videoInfo,
  .streaming_information {
    padding: 0 10px;
  }
}

.addtoany {
  display: flex;
  justify-content: center;
}

.playBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0;
  background: #fabe0f;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playBtn::before {
  content: "";
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  border-style: solid;
  border-width: 10px 0 10px 16px;
  border-color: transparent transparent transparent #000;
}/*# sourceMappingURL=streaming_detail.css.map */