@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$primaryColor: #fabe0f;
$primaryColor2: #eb9d00;
$primaryColor3: #fff0c7;
$primaryColor4: #fffaec;

$redColor: #f65248;
$redColor2: #df2800;

$ogColor: #fa7d0f;

$blueColor: #2f9bff;
$blueColor2: #2f80ed;

$bgColor: #e3e3e3;

$textColor2: #575f66;
$textColor4: #8a96a6;
$textColor9: #2b2b2b;

$lineColor: #f3f3f3;
$lineColor2: #9ea1a5;
$lineColor4: #575f66;
