@import '_variable';

//共用
.swiper_custom_layout,
.streaming_listBoxOuter {
  .streaming_swiperListBox,
  .streaming_listBox {
    .streaming_item {
      position: relative;
      .streaming_box {
        border-radius: 16px;
      }
    }
    .streaming_pic {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left center;
      border-radius: 16px;
      overflow: hidden;
      aspect-ratio: 16/9;
      flex-basis: 50%;
    }
    .streaming_content {
      flex-basis: 50%;
      position: unset;
      padding: 15px 0px;
      transform: scaleX(1) !important;
      opacity: 1 !important;
      @media screen and (min-width: 1000px) {
        justify-content: center;
      }
    }
    .streaming_hoverContent {
      transition-delay: 0s !important;
    }
    .streaming_stateBox {
      top: 10px;
      left: 10px;
      padding: 0;
      position: absolute;
    }
    .streaming_title {
      order: 3;
      font-size: 18px;
      font-weight: normal;
      padding: 0;
      margin-top: 10px;
    }
    .streaming_channel {
      @media screen and (max-width: 767.9px) {
        display: flex;
      }
      .streaming_avatar {
        margin: 0 10px 0 0;
      }
    }
  }

  .streaming_qrcode {
    max-width: 122px;
    max-height: 122px;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
}

.swiper_custom_layout,
.streaming_listBoxOuter {
  .tabBar,
  .streaming_carousel_card {
    padding: 24px 10px;
    @media screen and (min-width: 768px) {
      padding: 24px 24px;
    }
    &.typeC {
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.1);
    }
    &.typeD {
      padding: 0;
      margin: 0 50px;
      @media screen and (max-width: 767.9px) {
        margin: 0 10px;
      }
    }
    .swiper-wrapper {
      height: auto;
    }
    .swiper-button-disabled {
      display: none;
    }
    .swiper-button-prev:not(.sm),
    .swiper-button-next:not(.sm) {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      margin-top: 0;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
      background-size: 12px;
      z-index: 9;
    }
    .swiper-button-prev,
    .swiper-button-next {
      @media screen and (max-width: 1024px) {
        display: none;
      }
      &.sm {
        display: block;
        background-size: 6px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
        @media screen and (max-width: 767.9px) {
          top: calc(50% - 16px);
        }
      }
    }
    .swiper-button-prev {
      background-image: url('../img/streaming/carousel_arrow_lt.png');
      left: -28px;
      &.sm {
        left: 10px;
      }
    }
    .swiper-button-next {
      background-image: url('../img/streaming/carousel_arrow_rt.png');
      right: -28px;
      &.sm {
        right: 10px;
      }
    }
    .swiper-pagination {
      bottom: 0;
      left: 50%;
      height: 19px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    @media screen and (min-width: 1024px) {
      .swiper-pagination {
        top: -36px;
        bottom: auto;
        right: 0;
        left: auto;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    @media screen and (min-width: 1024px) {
      :lang(ar) .swiper-pagination {
        left: 0;
        right: auto;
      }
    }
  }
}

.swiper_custom_layout,
.streaming_listBoxOuter {
  /*實況狀態*/
  .streaming_stateBox {
    display: flex;
    margin: 20px 10px 0 20px;
    border-radius: 15px;
    overflow: hidden;
    @media screen and (max-width: 1000px) {
      margin: 10px 10px 0;
    }
    .streaming_state,
    .streaming_view {
      min-height: 28px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 13px;
      padding: 2px 10px;
      line-height: 1;
      color: #fff;
    }
    .streaming_state {
      background: $redColor2;
    }
    .streaming_view {
      background: $lineColor2;
      // white-space: nowrap;
    }
    &.replay .streaming_state {
      background: $primaryColor;
    }
    &.premiere .streaming_state {
      background: $ogColor;
    }
    &.upcoming .streaming_state {
      background: $blueColor;
    }
    @media screen and (max-width: 767px) {
      padding: 10px 0 0 10px;
      + .streaming_stateBox {
        display: none;
      }
    }
  }
  /*實況狀態*/

  /*圖示*/
  .streaming_icon {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      left: -26px;
      filter: drop-shadow(26px 0 #fff);
    }
  }
  /*圖示*/

  /*頻道*/
  .streaming_channel {
    display: flex;
    align-items: center;
    font-weight: 500;
    @media screen and (max-width: 767px) {
      display: none;
    }
    .streaming_avatar {
      width: 50px;
      border-radius: 100%;
      aspect-ratio: 1;
      flex-shrink: 0;
      margin: 0 15px 0 0;
      background: #fff;
      position: relative;
      overflow: hidden;
      span {
        color: #fff;
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        background: $primaryColor;
        padding: 0 0 4px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
    .streaming_name {
      font-size: 16px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @media screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
  }
  /*頻道*/

  /*社群*/
  .streaming_community {
    margin: 10px 0 0;
    ul {
      display: flex;
      justify-content: center;
      li {
        margin: 0 5px;
        button,
        a {
          display: block;
          width: 30px;
          height: 30px;
          padding: 0;
          background: none;
          border: none;
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            left: -50px;
            top: 0;
            filter: drop-shadow(50px 0 0 #fff);
          }
          &:hover {
            img {
              filter: drop-shadow(50px 0 0 $primaryColor);
            }
          }
        }
      }
    }
  }
  .streaming_emailInput {
    $btnWidth: 38px;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    margin: 10px auto 0;
    position: relative;
    input,
    button {
      height: 30px;
    }
    input {
      flex-shrink: 1;
      border-radius: 15px 0 0 15px;
      background: #fff;
      border: none;
      padding: 0 10px;
      width: calc(100% - $btnWidth);
      box-sizing: border-box;
      &::placeholder {
        color: #959595;
      }
    }
    button {
      width: $btnWidth;
      cursor: pointer;
      border: none;
      color: #fff;
      padding: 0 10px;
      border-radius: 0 15px 15px 0;
      background: $ogColor;
    }
  }
  /*社群*/

  .streaming_btn {
    white-space: nowrap;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: $bgColor;
    cursor: pointer;
    height: 30px;
    padding: 0 15px;
    object-fit: contain;
    overflow: hidden;
    i {
      margin: 0 5px 0 0;
      width: 20px;
      aspect-ratio: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
    }
    img {
      aspect-ratio: 1;
      position: absolute;
      left: -50px;
      filter: drop-shadow(50px 0 0 #000);
    }
    &.icon {
      padding: 0 5px;
      i {
        margin: 0;
      }
    }
    &.active,
    &:hover {
      background: $primaryColor;
    }
    & + .streaming_btn {
      margin: 0 0 0 5px;
    }
  }

  /*共用結構*/
  .streaming_box {
    // transition: all 0.5s ease;
    overflow: hidden;
    @media screen and (max-width: 767.9px) {
      border-radius: 0px;
    }

    * {
      box-sizing: border-box;
    }
    img {
      position: relative;
      height: auto;
    }
    .streaming_icon {
      margin-right: 5px;
    }
    &:hover {
      z-index: 10;
      .streaming_content {
        transform: scaleX(-1);
        opacity: 0;
      }
      .streaming_hoverContent {
        background: rgb(0 0 0 /60%);
        opacity: 1;
        transition-delay: 0.3s;
      }
    }
    .streaming_addBtn,
    .streaming_more {
      width: 100%;
      line-height: 1;
      cursor: pointer;
      border: none;
      text-align: center;
      background: $redColor2;
      color: #fff;
      padding: 8px 15px;
      margin: 10px auto;
      max-width: 200px;
      border-radius: 20px;
      text-decoration: none;
      display: block;
      transition: all 0.3s ease;
      &:hover {
        color: #000;
        background: $primaryColor;
      }
    }
    .addthis_inline_share_toolbox_49zg {
      text-align: center;
    }
  }
  .streaming_content {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    position: absolute;
    // padding: 30px;
    inset: 0;
    img {
      opacity: 1 !important;
    }
    .streaming_infoBox {
      margin: auto 0 0;
    }
  }

  .streaming_hoverContent {
    padding: 20px;
    opacity: 0;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 16px;
    overflow: hidden;
  }
}
// list
.streaming_listBoxOuter {
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  @media screen and (max-width: 767.9px) {
    padding: 16px 8px;
    border-radius: 0px;
  }
  .streaming_listBox {
    $gap: 24px;
    gap: $gap;
    display: flex;
    flex-wrap: wrap;
    &.col- {
      @for $i from 2 to 6 {
        &#{$i} {
          .streaming_item {
            width: calc((100% - ($gap * ($i - 1))) / $i);
          }
        }
      }
    }
    &.col-5 {
      .streaming_item {
        @media screen and (max-width: 1200px) {
          width: calc((100% - ($gap * 3)) / 4) !important;
          &:nth-child(5) {
            display: none;
          }
        }
        @media screen and (max-width: 767px) {
          width: calc((100% - ($gap * 2)) / 3) !important;
          &:nth-child(5) {
            display: none;
          }
        }
        @media screen and (max-width: 500px) {
          width: 100% !important;
          &:nth-child(5) {
            display: block;
          }
        }
      }
    }

    &.col-4,
    &.col-5 {
      .streaming_item {
        @media screen and (max-width: 1000px) {
          width: calc((100% - ($gap)) / 2) !important;
        }
        @media screen and (max-width: 500px) {
          width: 100% !important;
        }
      }
    }
  }
}
